<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dai.myapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:process=":remote"
        android:theme="@style/Theme.MyApplication"
        android:requestLegacyExternalStorage="true"
        tools:ignore="MissingClass">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/action_register">
            <intent-filter>
                <action android:name="android.intent.action.registerAactivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AdminActivity"
            android:label="@string/main">
            <intent-filter>
                <action android:name="android.intent.action.adminActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UserActivity"
            android:label="@string/main">
            <intent-filter>
                <action android:name="android.intent.action.userActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UserManagerActivity"
            android:label="@string/admin_user_manager">
            <intent-filter>
                <action android:name="android.intent.action.userManagerActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ExamineActivity"
            android:label="@string/admin_user_register">
            <intent-filter>
                <action android:name="android.intent.action.examineActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ExamineSubmitActivity"
            android:label="@string/admin_user_register">
            <intent-filter>
                <action android:name="android.intent.action.examineSubmitActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.UserInfoActivity"
            android:label="@string/user_info">
            <intent-filter>
                <action android:name="android.intent.action.userInfoActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.UserIdCheckActivity"
            android:label="@string/id_check">
            <intent-filter>
                <action android:name="android.intent.action.userIdCheckActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ContractActivity"
            android:label="@string/contract_doc">
            <intent-filter>
                <action android:name="android.intent.action.coutractActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.WorkExamineActivity"
            android:label="@string/admin_user_examine">
            <intent-filter>
                <action android:name="android.intent.action.workExamineActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.WorkExamineChangeActivity"
            android:label="@string/admin_user_examine">
            <intent-filter>
                <action android:name="android.intent.action.workExamineChangeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.FinishActivity"
            android:label="@string/admin_user_finish">
            <intent-filter>
                <action android:name="android.intent.action.finishActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.FinishChangeActivity"
            android:label="@string/admin_user_finish">
            <intent-filter>
                <action android:name="android.intent.action.finishChangeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>