<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dai.myapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/gongzi_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gongzi_icon"
        android:supportsRtl="true"
        android:process=":remote"
        android:theme="@style/Theme.MyApplication"
        android:requestLegacyExternalStorage="true"
        tools:ignore="MissingClass">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/action_register"
            android:parentActivityName=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.registerAactivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AdminActivity"
            android:label="@string/main">
<!--            android:parentActivityName=".activity.LoginActivity">-->
            <intent-filter>
                <action android:name="android.intent.action.adminActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UserActivity"
            android:label="@string/main">
<!--            android:parentActivityName=".activity.LoginActivity">-->
            <intent-filter>
                <action android:name="android.intent.action.userActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UserManagerActivity"
            android:label="@string/admin_user_manager"
            android:parentActivityName=".activity.AdminActivity">
            <intent-filter>
                <action android:name="android.intent.action.userManagerActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ExamineActivity"
            android:label="@string/admin_user_register"
            android:parentActivityName=".activity.AdminActivity">
            <intent-filter>
                <action android:name="android.intent.action.examineActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ExamineSubmitActivity"
            android:label="@string/admin_user_register"
            android:parentActivityName=".activity.ExamineActivity">
            <intent-filter>
                <action android:name="android.intent.action.examineSubmitActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.UserInfoActivity"
            android:label="@string/user_info"
            android:parentActivityName=".activity.UserActivity">
            <intent-filter>
                <action android:name="android.intent.action.userInfoActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.UserIdCheckActivity"
            android:label="@string/id_check"
            android:parentActivityName=".activity.UserInfoActivity">
            <intent-filter>
                <action android:name="android.intent.action.userIdCheckActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ContractActivity"
            android:label="@string/contract_doc"
            android:parentActivityName=".activity.UserActivity">
            <intent-filter>
                <action android:name="android.intent.action.coutractActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.WorkExamineActivity"
            android:label="@string/admin_user_examine"
            android:parentActivityName=".activity.AdminActivity">
            <intent-filter>
                <action android:name="android.intent.action.workExamineActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.WorkExamineChangeActivity"
            android:label="@string/admin_user_examine"
            android:parentActivityName=".activity.WorkExamineActivity">
            <intent-filter>
                <action android:name="android.intent.action.workExamineChangeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.FinishActivity"
            android:label="@string/admin_user_finish"
            android:parentActivityName=".activity.AdminActivity">
            <intent-filter>
                <action android:name="android.intent.action.finishActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.FinishChangeActivity"
            android:label="@string/admin_user_finish"
            android:parentActivityName=".activity.FinishActivity">
            <intent-filter>
                <action android:name="android.intent.action.finishChangeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activity.AttendanceActivity"
            android:label="@string/admin_user_work"
            android:parentActivityName=".activity.AdminActivity">
            <intent-filter>
                <action android:name="android.intent.action.attendanceActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.UserProjectActivity"
            android:label="@string/project"
            android:parentActivityName=".activity.UserManagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.UserProjectActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>